hostname {{ node_name }}
! Archiving section
archive
log config
logging enable
logging size 500
notify syslog contenttype plaintext
! AAA
aaa new-model
aaa authentication login default local
aaa authorization exec default local
aaa authorization commands 15 default local
! SSH
crypto key generate rsa label LAB modulus 2048
ip ssh version 2
line vty 0 4
transport input ssh
! USER
username {{ user }} privilege 15 password 0 {{ password }}
!
interface {{ mgmt_port }}
ip address {{ mgmt_addr | ipaddr(render='address') }} {{ mgmt_addr | ipaddr(render='netmask') }}
no shutdown
!
exit
exit
wr mem
